# data directories to exclude
data/original/

# r stuff
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/

# linux backup and swap files
*~
*.swp

# office stuff
.~lock.*#
~$*.doc*
~$*.xls*
~$*.ppt*
